@import url("https://fonts.googleapis.com/css?family=Signika");

$light: rgba(165, 11, 11, 0.486);
$dark: #000000a2;
$col1: #000000af;
$col2: #000000a9;
$col3: #000000a6;

$time: 500ms;
$cubic: cubic-bezier(0.06, 0.63, 0.91, 0.66);

$aside: 25vw;
$size: 0.25em;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  line-height: 1.5;
  font-family: "Signika", cursive;
  font-weight: 300;
  background-color: $dark;
  color: $light;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: $col3;
}

#check {
  display: none;

  + label {
    position: absolute;
    top: $size * 4;
    left: $size * 4;
    z-index: 1;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: -1em;
      left: -1em;
      width: 100vw;
      height: 120vh;
      background-color: rgba($dark, 0.5);
      transform-origin: 50% 50%;
      transform: scale(1.3);
      visibility: hidden;
      opacity: 0;
      transition: all $time / 2 linear;
    }

    svg {
      margin-right: 0.5em;

      path {
        transform-origin: 35% 50%;
        transition: transform $time / 3 $cubic;
      }
    }
  }

  &:checked + label {
    ~ aside {
      transform: none;
    }

    &::before {
      left: calc(25vw - 1em);
      transform: scale(1);
      visibility: hidden;
      opacity: 1;

      @media (max-width: 576px) {
        left: calc(50vw - 1em);
      }
    }

    svg {
      #one {
        transform: rotate(45deg);
      }
      #two {
        transform: rotate(-45deg);
      }
    }
  }

  &:checked + label {
    ~ article {
      z-index: -1; // set value in case of position transform-origin: x -* %
      transform: translateX(25vw) scale(0.7);
      border-radius: $size;
      user-select: none;
      pointer-events: none;
    }
  }
}

aside,
article {
  padding: ($size * 10) ($size * 4) $size;
  transition: all $time / 2 $cubic;
}
@media only screen and (max-width: 600px) {
  #check {
    display: none;

    + label {
      position: absolute;
      top: $size * 4;
      left: $size * 4;
      z-index: 1;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-top: 1rem;
      flex-direction: column;

      &::before {
        position: absolute;
        content: "";
        top: -1em;
        left: -1em;
        width: 50vw;
        height: 120vh;
        background-color: rgba($dark, 0.5);
        transform-origin: 50% 50%;
        transform: scale(1.3);
        visibility: hidden;
        opacity: 0;
        transition: all $time / 2 linear;
      }

      svg {
        margin-right: 0.5em;

        path {
          transform-origin: 35% 50%;
          transition: transform $time / 3 $cubic;
        }
      }
    }

    &:checked + label {
      ~ aside {
        transform: none;
      }

      &::before {
        left: calc(25vw - 1em);
        transform: scale(1);
        visibility: hidden;
        opacity: 1;
        height: 120vh;
      }

      svg {
        #one {
          transform: rotate(45deg);
        }
        #two {
          transform: rotate(-45deg);
        }
      }
    }

    &:checked + label {
      ~ article {
        z-index: -1; // set value in case of position transform-origin: x -* %
        transform: translateX(25vw) scale(0.7);
        border-radius: $size;
        user-select: none;
        pointer-events: none;
        height: 60rem;
      }
    }
  }
  aside {
    position: absolute;
    width: 12rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(45deg, $col3, $col2);
    transform: translateX(-100%);
  }
}
aside {
  position: absolute;
  width: 28rem;
  height: 113%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: linear-gradient(45deg, $col3, $col2);
  transform: translateX(-100%);
}

article {
  position: relative;
  transform-origin: 10% 50%; // change for position
  width: 100%;
  background-image: linear-gradient(45deg, $col1, $col2);

  .wrapper {
    margin: auto;
    padding: 2em;
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      margin: 0;
    }

    .footer {
      text-align: right;
    }
  }
}
.correct {
  background-color: #4cf825e5;
}

.close1 {
  background-color: #941a05c9;
}

.close2 {
  background-color: #f74324ad;
}
.close3 {
  background-color: #ff9900cc;
}
.close4 {
  background-color: #faf60cd3;
}

.far4 {
  background-color: #00ffaad2;
}
.far3 {
  background-color: #00f8ecce;
}
.far2 {
  background-color: #00c3ffd3;
}
.far1 {
  background-color: #0011fdd3;
}

img {
  padding-top: 10px;
  width: 10rem;
}
