.App {
  text-align: center;
  background-color: #2b2a2a;
  width: 100vw;
  height: 120vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
  padding-top: 1rem;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #4cf825d5;
}

#close1 {
  background-color: #cc2305c9;
}

#close2 {
  background-color: #ff0800ad;
}
#close3 {
  background-color: #ff7300cc;
}
#close4 {
  background-color: #ffae00cb;
}

#far4 {
  background-color: #f6fa00d2;
}
#far3 {
  background-color: #00f8ecce;
}
#far2 {
  background-color: #00c3ffd3;
}
#far1 {
  background-color: #0011fdd3;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 30rem;
  height: 10rem;
  margin-top: 1rem;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}

#correct {
  background-color: #4cf825e5;
}

#close1 {
  background-color: #941a05c9;
}

#close2 {
  background-color: #f74324ad;
}
#close3 {
  background-color: #ff9900cc;
}
#close4 {
  background-color: #faf60cd3;
}

#far4 {
  background-color: #00ffaad2;
}
#far3 {
  background-color: #00f8ecce;
}
#far2 {
  background-color: #00c3ffd3;
}
#far1 {
  background-color: #0011fdd3;
}

/*
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
*/

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    background-color: #2b2a2a;
    width: 120vw;
    height: 120vh;
    /* display: flex; */
    color: white;
  }
  .logo {
    padding-top: 10px;
    width: 15rem;
  }

  body {
    padding: 0%;
    margin: 0;
  }

  nav {
    height: 60px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    padding-top: 6rem;
  }

  nav h1 {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 45px;
  }
  .nav h1:before {
    content: "BETA";
  }
  .game {
    width: 100vw;
    height: calc(100vh - 170px);
    margin-left: 2rem;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
  }

  .board {
    width: 390px;
    height: 490px;
    display: flex;
    flex-direction: column;
  }

  .row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }

  .letter {
    flex: 33%;
    height: 100%;
    border: 1px solid grey;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  #correct {
    background-color: #4cf825e5;
  }

  #close1 {
    background-color: #941a05c9;
  }

  #close2 {
    background-color: #f74324ad;
  }
  #close3 {
    background-color: #ff9900cc;
  }
  #close4 {
    background-color: #faf60cd3;
  }

  #far4 {
    background-color: #00ffaad2;
  }
  #far3 {
    background-color: #00f8ecce;
  }
  #far2 {
    background-color: #00c3ffd3;
  }
  #far1 {
    background-color: #0011fdd3;
  }

  #error {
    background-color: #3a393c;
  }

  .keyboard {
    object-fit: contain;
    width: 30rem;
    height: 1rem;
    margin-top: 1rem;
  }

  .line1 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .line2 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  .line3 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }

  .key {
    width: 50px;
    height: 70px;
    margin: 5px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  #big {
    width: 100px;
  }
  #disabled {
    background-color: #3a393c;
  }

  #correct {
    background-color: #4bf825;
  }

  #close1 {
    background-color: #720502ad;
  }

  #close2 {
    background-color: #f5181881;
  }
  #close3 {
    background-color: #ff7300a9;
  }
  #close4 {
    background-color: #ffae00ad;
  }

  #far4 {
    background-color: #f6fa00af;
  }
  #far3 {
    background-color: #00f8eca6;
  }
  #far2 {
    background-color: #00c3ffa9;
  }
  #far1 {
    background-color: #0011fdad;
  }
}

img {
  padding-top: 10px;
  width: 10rem;
}

.logo {
  padding-top: 10px;
  width: 20rem;
}
